
/* Container do card */
.card {
    border-radius: 12px;
    border: 1px solid #d9d9d9 !important;
    background-color: #f5f0ef;
    padding: 1.5rem;
  }
  
  /* Labels */
  .form-label {
    font-weight: 600;
    color: #333; 
     margin-bottom: 8px;
  }

  
  /* Inputs e textarea */
  .form-control {
    border: 2px solid #225299;
    border-radius: 8px;
    background-color: #f5f0ef; 
    box-shadow: none !important;
  }
  
  .form-control:focus {
    border-color: #225299;
    background-color: #f5f0ef; 
    box-shadow: 0 0 0 2px rgba(43, 97, 209, 0.2);
  }
  
  /* Radio buttons customizados */
  .form-check-input {
    border: 2px solid #225299;
    cursor: pointer;
  }
  
  .form-check-input:checked {
    background-color: #2b61d1;
    border-color: #225299;
  }
  
  .form-check-label {
    margin-left: 4px;
    font-weight: 500;
    color: #333;
  }
  
  /* Textarea */
  textarea.form-control {
    resize: none;
    min-height: 100px;
    background-color: #f5f0ef; 
  }
  
  /* Área de upload */
  .border {
    border: 2px solid #225299 !important;
    border-radius: 8px !important;
    background-color: #f5f0ef; 
  }
  
  .border p {
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Botão principal */
  .btn-primary {
    background-color: #225299;
    border: none;
    border-radius: 8px;
    padding: 0.6rem 1.4rem;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #1b4179;
  }
  
  /* Botão de upload */
  .border .btn-primary {
    margin-top: 0.5rem;
    border-radius: 8px;
    font-weight: 600;
  }
  

  .customSelectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 320px; 
}
.customSelect {
  width: 100%;
  padding: 8px 38px 8px 12px;
  font-size: 16px;
  border: 2px solid #17427a;
  border-radius: 8px;
  appearance: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px 20px;
  cursor: pointer;
}
.customSelect:focus {
  outline: none;
  border-color: #225299;
  box-shadow: 0 0 5px #225299;
}
.customSelectWrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #1e3a8a;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: center;
}