.containerRelatorio {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #f4f8fc;
  border-radius: 20px;
  padding: 1.5rem 2rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 12px rgba(34, 82, 153, 0.1);
}

.header {
  background-color: #225299;
  color: white;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
  margin: -1.5rem -2rem 1.5rem -2rem;
}

.content {
  line-height: 1.8;
}

.label {
  font-weight: bold;
  color: #225299;
}

.relatorio-btn {
  background-color: #225299;
  color: white;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  transition: all ease .3s;
}

.relatorio-btn:hover {
  background-color: #1b4177;
  color: white;
}

.description {
  margin-top: 1rem;
}

.modal-header .relatorio-btn-close {
  margin-left: auto;
  font-size: 1.3rem !important;
  cursor: pointer;
  color: white;
}

.relatorio-modal-header {
  background-color: #225299;
  color: white !important;
}

.relatorio-modal-body strong {
  color: #225299;
}

.carousel-item.active {
  text-align: center;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #225299;
  font-size: 2rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #225299;
}

.relatorio-btn-fechar {
  background-color: #225299;
  color: white;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  transition: all ease .3s;
}

.relatorio-btn-fechar:hover {
  background-color: #1b4177;
  color: white;
}

/* Responsividade */
@media (max-width: 600px) {
  .containerRelatorio {
    padding: 1rem 1.2rem;
  }

  .header {
    font-size: 1rem;
  }
}
